.section {
    margin-bottom: 80px;
}

.section__title{
    font: bold 30px "Montserrat";
    color: #333;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
}

.section__title-text{
    display: block;
    font-family: "Kaushan Script";
    font-size: 24px;
    text-transform: initial;
    font-weight: 300;
    line-height: 50px;
}

.section-title::after {
    display: block;
    background-color: rgb(243, 129, 129);
    content: "";
    width: 60px;
    height: 3px;
    margin: 30px auto 0 auto;
}

.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services__link {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
}

.services__item:nth-last-child(-n + 3) {
    margin: 0;
}

.services__title {
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    color: rgb(51, 51, 51);
}

.services__p___text {
    max-width: 300px;
}

.services__item::before {
    display: block;
    min-width: 32px;
    height: 32px;
    content: "";
    background-size: cover;
    margin-right:10px;
}

.services__item___ic-alarm::before {
    background-image: url("../img/svg-container.svg#ic-alarm");
}

.services__item___ic-book::before {
    background-image: url("../img/svg-container.svg#ic-book");
}

.services__item___ic-comp::before {
    background-image: url("../img/svg-container.svg#ic-comp");
}

.services__item___ic-image::before {
    background-image: url("../img/svg-container.svg#ic-image");
}

.services__item___ic-home::before {
    background-image: url("../img/svg-container.svg#ic-home");
}

.services__item___ic-table::before {
    background-image: url("../img/svg-container.svg#ic-table");
}