.team__description {
    padding: 0 110px;
    margin-bottom: 90px;
    text-align: center;
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team-member {
    position: relative;
    width: 380px;
    background-color: var(--color-sevices);
}

.team-member:hover .team-member__photo {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.team-member:hover .socials {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    opacity: 1;
}

.socials {
    position: absolute;
    width: 380px;
    height: 470px;
    opacity: 0;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(rgba(243, 129, 129, 0.9)),
            to(rgba(252, 227, 138, 0.9))
    );
    background: -o-linear-gradient(
            top,
            rgba(243, 129, 129, 0.9),
            rgba(252, 227, 138, 0.9)
    );
    background: linear-gradient(
            to bottom,
            rgba(243, 129, 129, 0.9),
            rgba(252, 227, 138, 0.9)
    );
    -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    -o-transition: opacity 0.2s linear, transform 0.2s linear;
    transition: opacity 0.2s linear, transform 0.2s linear;
    transition: opacity 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
    z-index: 1;
}

.team-member__photo {
    display: block;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 100%;
}

.socials__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin-right: 1px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    background-color: var(--color-card_2);
}

.socials__link:hover,
.socials__link:focus {
    background-color: var(--color-card_1);
}

.socials__icon{
    width: 30px;
    height: 30px;
    fill:var(--color-card_1);
    -webkit-transition: fill .2s linear;
    -o-transition: fill .2s linear;
    transition: fill .2s linear;
}

.socials__link:hover .socials__icon{
    fill:#fff;
}

.team-member__info {
    padding-top: 20px;
    background-color: #fff;
}

.team-member__name {
    padding: 10px 0;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: rgb(51, 51, 51);
}

.team-member__position {
    font-family: "Roboto";
    font-size: 15px;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
    color: rgb(153, 153, 153);
}