footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 63px;
    border-top: 1px solid rgb(229, 229, 229);
}

.copyrights {
    font-family: "Montserrat";
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.copyrights__author {
    color: var(--color-card_1);
}

.subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
}

.subscribe-form__email {
    padding: 10px;
    min-width: 230px;
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
    font-style: italic;
}

.subscribe-form__email::-webkit-input-placeholder {
    color: #ccc;
}

.subscribe-form__email::-moz-placeholder {
    color: #ccc;
}

.subscribe-form__email:-ms-input-placeholder {
    color: #ccc;
}

.subscribe-form__email::-ms-input-placeholder {
    color: #ccc;
}

.subscribe-form__email::placeholder {
    color: #ccc;
}

.subscribe-form__button {
    padding: 10px 30px;
    background-color: var(--color-sevices);
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.subscribe-form__button:hover {
    background-color: var(--color-card_1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}