* {
    outline: 1px solid red;
}
* header {
    width: 480px;
    margin:auto;
    background: #ccc;
    padding: auto;
}

}
.menu-item {
display: inline-block;
    margin-right: 60px;
}
.url-nav {
    display: block;
    width: 50px;
    text-align: center;
    text-decoration: none;
}



.menu:hover > .submenu
hr > *::first-child
input[type="text"]::checked
li::first-line::first-letter




ol> li > #current
ol > li > a:hover
ol > .item > .link:hover