@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400');


html {
    box-sizing: border-box;
}

* {
    font-size: 14px;
    line-height: 16.04px;
    color: #666666
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*//////HEADER\\\\\\*/

.container {
    margin: 0 auto;

}

.page-header {
    background-image:linear-gradient(rgba(26, 25, 21, 0.3), rgba(26, 25, 21, 0.3)),
    url("../img/Vector Smart Object.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    margin: 0 auto 161px;
}


/*cover*/
/*Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.*/

.ul-navigation a {
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 18px;

}


/* transparent;   прозрачный */

.logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.ul-navigation {
    display: flex;
    list-style: none;
}

.ul-navigation li:not(:last-child) {
    margin-right: 37px;
}

.ul-navigation a:focus,
.ul-navigation a:hover {

    border: 2px solid;
    color: #ffffff;

}

/*////////////////////////////////second-part\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.title-second {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.08em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

}

.title-p {
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.first-but {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
    /*border: none;*/
    border-radius: 30px;
    border: 2px solid #ff4e50;
}

.first-but:hover {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    /*color: #fff;*/
    font-weight: 700;
    background-color: #ff4e50;
    border: 2px solid #ff4e50;
    border-radius: 30px;
    transition: 0.3s;
}

/*/////////////////team\\\\\\\\\\\\\\\\\\\\*/


.title-team {
    padding-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #333333;
    font-weight: 700;
    text-align: center;
}


.name-team {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 16px;
}

.div-team {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.text-team {

    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    color: #666666;
    font-weight: 300;

}

.other {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    color: #ff4e50;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #ff4e50;
    padding: 12px 70px;
    border-radius: 30px;
    text-align: center;
    background-color: #FFFAFA;
}

.other:hover {
    color: #fff;
    background-color:#ff4e50;
    transition: 0.3s;
}



.team {
    padding-bottom: 72px;
}

.li-team .div-team:first-of-type::after {
    content: "";
    background-image: url("../img/icon/p1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff4e50;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 3px solid #fff;
}

.li-team:nth-of-type(2) .div-team::after {
    background-image: url("../img/icon/p2.png");
    background-color: #ffa507;
}

.li-team:nth-of-type(3) .div-team::after {
    background-image: url("../img/icon/p3.png");
    background-color: #1cd7ad;
}

.li-team:nth-of-type(4) .div-team::after {
    background-image: url("../img/icon/p4.png");
    background-color: #4e73db;
}


/* MEDIA */

/*@media (max-width: 749px) от 749 px страница ведет себя так*/

@media (max-width: 749px) {

    .container {
        width: 282px;
    }
    .header {
        margin-bottom: 30px;
    }

    .navigation {
        /*margin-bottom: 30px;*/
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        min-height: 172px;
        padding-top: 33px;
    }

    .text-main {
        font-size: 18px;
        line-height: 21.6px;
    }

    .page-header {
        min-height: 540px;
    }

    .title-team {
        margin-bottom: 20px;
    }

    .title-second {
        font-size: 30px;
        letter-spacing: -0.02em;
        line-height: 36px;
    }

    .li-team {
        text-align: center;
    }

    .header {
        max-width: 285px;
    }

    .first-but {
        padding: 14px 23px;
    }

    @media (min-width: 320px) and (max-width: 749px) {
        .li-team {
            margin-bottom: 26px;
        }

    }
}

@media (min-width: 748px) {

    .container {
        width: 492px;
        text-align: center;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    .li-team {
        width: 236px;
        margin-bottom: 60px;

    }

    .text-main {
        font-size: 24px;
        line-height: 28.8px;
    }
    .header {
        margin-bottom: 161px;
    }


    .navigation {
        /*margin-bottom: 161px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 46px;
        align-items: baseline;
    }

    .page-header {
        min-height: 700px;
    }

    .title-team {
        margin-bottom: 35px;

    }

    .title-second {

        font-size: 52px;
        line-height: 62.4px;
    }

    .first-but {
        padding: 14px 23px;
    }

}

@media (min-width: 940px) {

    .container {
        width: 940px;
        text-align: center;
    }

    .li-team {
        width: 220px;
    }

    .team-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

    }


    .li-team {
        width: 220px;
        margin: 0;

    }
}